target
**/target
.git
.gitignore
jobs/*/out
jobs/*/tmp
s3_full_artifacts_examples
*.tar.gz
fixtures/footage/*
fixtures/fonts/*
*.aep
*.aepx
*.aex
*.dll
*.so
*.dylib
*.mp4
*.mov
*.mkv
*.mp3
*.wav
*.png
